.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 4px;
}

.container:hover {
  opacity: 0.6;
  border-radius: 16px;
}

.child {
  flex: 1;
  color: var(--tg-theme-text-color);
}

.before {}
.after {}